.user-container {
  /* border: 2px solid green; */
}

.conversation-user img{
  border-radius: 50%;
  object-fit: cover;
}
.follower {
  width: 100%;
  padding: 0rem;
}

hr {
  border: 0.05px solid var(--grise);
}

span {
  font-size: 1.5rem;
  font-weight: 600;
  /* color: rgba(0,0,0,0.9); */
}

small {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.name {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
