
.conversation-user {
  display: flex;
  justify-content: space-between;
}

.contact-profile img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.follower {
  width: 100%;
  padding: 0rem;
}

hr {
  border: 0.05px solid var(--grise);
}

span {
  font-size: 1.5rem;
  font-weight: 600;
}

small {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.contact-name {
  display: flex;
  gap: 0.5rem;
  width: 60%;
}
