.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-left {
  position: absolute;
  top: -5rem;
  left: 13rem;
  text-align: center;
}

.login-left span{
    font-size: 8rem;
    color: var(--blue);
}

form {
  position: relative;
  background: var(--white);
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
}

.inputs {
   display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn-connect {
  background: var(--blue);
  padding: 1.4rem;
  border-radius: 1rem;
  color: var(--white);
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
  font-weight: 600;
}

.buttons p{
  font-size: 1.5rem;
}

.buttons p span{
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

form div {
  margin: 1rem 0;
}

input {
  font-size: 1.5rem;
  background: rgb(207, 207, 207, 0.4);
  border-radius: 1rem;
  padding: 1.5rem 1.5rem;
}
